@import './comment.scss';

.show-container{
  width: 100vw;
}

.left-part-show{
  position: relative;
  margin: 25px;
  width: 60%;
  h2{
    text-align: center;
    font-size: 32px;
  }
  img{
    width: 100%;
  }
  .price-article{
    position: absolute;
    bottom: 0%;
    right: 0px;
    font-size: 38px;
    background-color: rgba($color: grey, $alpha: .8);
    padding: 10px 25px;
    border-top-left-radius: 16px;
  }
}

.show-card-content{
  width: 100%;
  position: relative;
  margin: auto;
  padding-bottom: 20px;
  background-color: rgba($color: #bbbb, $alpha: .5);
  p{
    margin: 15px;
  }
}
.show-card-footer{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-style: italic;
  font-weight: 600;
  font-size: .7em;
  font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 600px) {
  .left-part-show{
    width: 100%;
  }
  .show-card-footer{
    flex-direction: column;
    align-items: flex-start;
  }
}