// .cards-container{
//   width: 80vw;
// }
.rating-card{
  margin-left: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .rate-card{
    display: flex;
  }
  .comment-card{
    font-weight: 600;
  }
}
.content-card{
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
 h2{
    font-family: 'Architects Daughter', cursive;
    width: 30%;
    font-weight: 600;
    font-size: 1.6rem;
  }
}
.bottom-card{
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
