@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba($color: #a3b18a, $alpha: .3);
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  font-family: 'Architects Daughter', cursive;
}
a{
  text-decoration: none;
  color: black;
}
@import './navbar.scss';
@import './log/index.scss';
@import './card/index.scss';
@import './adminPage.scss';
@import './show-article/index.scss';
@import './cart/index.scss';
@import './cart-page.scss';
@import './stripe.scss';